<td><%= title %></td>
<td><%= description %></td>
<td><div class='ratyrating' data-score=<%= rating %>></div></td>
<td><div class='ratytotalrating' data-score=<%= totalRating %>></div></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
